{{!-- !--Homepage--> --}}
<div class="container">
    <div class="col-md-12 jumbotron banner">
        <div class="text-center">
            {{!-- <h1>Tech News Scraper</h1> --}}
        </div>

    </div>
    <div class="col-md-12">
        {{#if article}}
            {{#each article}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="title">{{this.title}}</h4> <button type="button" class="btn btn-success save btn-styling" data-id={{this._id}}>Save Article</button>
                </div>
                <div class="panel-body">
                    <img class="image"src={{this.imgUrl}}>
                    <p> {{this.summary}}</p>
                    <a href={{this.link}} target="_blank">{{this.link}}</a>
                    <br><br>
                    
                </div>
            </div>
            {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
            <h4>Uh Oh. Looks like we don't have any new articles.</h4>
            </div>
         </div>
        {{/if}}
    </div>
</div>